body {
  background-image: url('/Users/emaleepoellot/mod2/finalSolo/travelTracker/src/images/sean-oulashin-KMn4VEeEPR8-unsplash.jpg');
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Handlee', sans-serif;
}

.layout {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Page when logged in */
.travel-info {
  display: flex;
  flex-direction: row;
  width: 75%;
  @media (max-width: 750px) {
    flex-direction: column;
  }
}

#travelAgency {
  font-family: 'Dancing Script', cursive;
  font-size: 70px;
  margin: 0;
  margin-top: 20px;
}

#yourVacation {
  font-family: 'Dancing Script', cursive;
  font-size: 35px;
  margin: 0;
  margin-top: 10px;
}


#dashboard {
  width: 30%;
  height: 80vh;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  @media (max-width: 750px) {
    width: 100%;
    height: initial;
  }
}

#main {
  width: 70%;
  height: 80vh;
  text-align: center;
  background-color: white;
  @media (max-width: 750px) {
    width: 100%;
  }
}

/* Login page */
#login {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(237, 230, 230);
  background-color: white;
  width: 50%;
  height: 50vh;
  padding: 40px;
  text-align: center;
  font-family: 'Handlee', sans-serif;
  &.hidden {
    display: none;
  }
}

.login-input {
  height: 50px;
  width: 80%;
  font-family: 'Handlee', sans-serif;
  font-size: 20px;
}

#passwordContainer {
  display: flex;
  align-items: center;
  text-align: justify;
  text-wrap: nowrap;

}

#showPassword {
  margin: 0px;
  width: 20px;
  cursor: pointer;
}

#showPassText {
  font-size: 30px;
  margin-left: 10px;
}

#submit {
  margin-top: 50px;
  height: 50px;
  width: 200px;
  color: white;
  background-color: rgb(0, 118, 37);
  border-color: rgb(0, 118, 37);
  border-radius: 30px;
  font-size: 25px;
  font-family: 'Handlee', sans-serif;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.labels {
  margin: 10px;
  font-size: 45px;
}

.hidden {
  display: none; 
}

.button-tab {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  margin: 20px auto;
  padding: 10px;
  padding: 10px;
  background: white; 
  font-weight: bold; 
}

#upcomingButton,
#pastButton,
#pendingButton {
  background-color: white;
  margin: 5px;
  font-family: 'Handlee', sans-serif;
  width: 90px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}

.new-trip {
  display: flex; 
  flex-direction: column;
  align-items: flex-end;
  margin: 10px;
  padding: 5px;
}

.new-trip-inputs {
  height: 30px;
  width: 50%;
  margin-top: 5px;
  cursor: pointer;
}

#estimatedCostButton,
#submitTrip {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Handlee',sans-serif;
  font-weight: bold;
  height: 30px;
  cursor: pointer;
}



